[submodule "cpp/external/json"]
	path = cpp/external/json
	url = https://github.com/nlohmann/json.git
[submodule "cpp/external/tabulate"]
	path = cpp/external/tabulate
	url = https://github.com/p-ranav/tabulate.git
[submodule "cpp/external/ImGuiFileDialog"]
	path = cpp/external/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
